html {
  font-family: "DM Sans", sans-serif;
  background-color: #f7e8d3;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
}

:root {
  --primary-color: #ff8d93;
  --active-color: #54d6d6;
  --textone-color: #080909;
  --texttwo-color: #fcfefe;
  --divtwo-color: #fbe8f6;
  --light-grey: #888488;
}

.balance {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--primary-color);
  width: 450px;
  height: 100px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

.monthly-balance {
  font-size: 25px;
  font-weight: bold;
  margin-top: -10px;
}

.bal-section {
  padding-top: 5px;
}

.svg {
  margin-top: 0.01em;
}

i {
  font-size: 80px;
  color: #fcfefe;
}

.svg:hover {
  animation-name: rotate;
  animation-iteration-count: 5;
  animation-duration: 5s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chart-div {
  background-color: var(--texttwo-color);
  width: 450px;
  height: 500px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 50px;
}

h1 {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

hr {
  background-color: lightgray;
  width: 80%;
}

.js-chart {
  padding-top: 75%;
}

.bottom-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  margin-left: 10px;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  color: grey;
}
.monthly-total {
  margin-top: -15px;
  font-size: 30px;
  font-weight: bold;
}

.right {
  margin-right: 10px;
}

.per {
  margin-top: -18px;
  font-size: 16px;
  color: grey;
}

h4 {
  text-align: right;
}

h5 {
  text-align: center;
  font-weight: normal;
}

/**https://www.w3schools.com/ai/ai_chartjs.asp**/
